<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="keywords" content="コミティア,COMITIA126,ひらめきマンガ,ひらめき漫画,はたらく美少女">
    <meta name="description" content="ゲンロン ひらめき☆マンガ教室の受講生が3サークルに分かれ、COMITIA126で同人誌を頒布します。チームBのテーマは「はたらく美少女」。ぜひお立ち寄りください。">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>はたらく美少女アンソロジー COMITIA126 う01b ひらめき☆マンガ教室 チームB</title>
    <link rel="stylesheet" href="style.css">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128962723-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-128962723-1');
</script>

<meta property="og:type" content="website">
<meta property="og:title" content="はたらく美少女アンソロジー COMITIA126 う01b">
<meta property="og:description" content="美少女も、頑張ったり、充電したり、しているのです。ゲンロンひらめき☆マンガ教室 チームB合同誌">
<meta property="og:image" content="https://hirameki-teamb.firebaseapp.com/images/bg-top.jpg">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@hiramanteamb">

</head>
<body>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
var memberData = [
    {
        "name": "寿司クリーム",
        "title": "グッドモーニング",
        "comment": "はたらく女の子の、おやすみの日のマンガです。",
        "twitter": "sushicream_",
        "hirameki_id": "sushicream",
        "page_sum": 4,
    },
    {
        "name": "静脈",
        "title": "にゃんハード",
        "comment": "仕事の疲れを癒す女の子です。",
        "twitter": "joumyakun",
        "hirameki_id": "joumyakun",
        "page_sum": 4,
        "interview":"https://note.mu/sushicream/n/n308a7389393a"
    },
    {
        "name": "森井餡",
        "title": "バラとキク",
        "comment": "きょうだい萌えな話を描きました。",
        "twitter": "an_morii",
        "hirameki_id": "806303genron",
        "page_sum": 4,
        "interview": "https://note.mu/sushicream/n/n7068972977cd?magazine_key=m5d64866285f1"
    },
    {
        "name": "魚田古塲",
        "title": "もやもや病、その後",
        "comment": "2人の友人の名前から魚田古塲にしましたが、マジで倒れてしまった！",
        "twitter": "",
        "hirameki_id": "uodakoba",
        "page_sum": 1,
        "interview": "https://note.mu/sushicream/n/n011555e500b7?magazine_key=m5d64866285f1"
    },
    {
        "name": "首藤",
        "title": "フォーゲットミーノット",
        "comment": "人生は恥の積み重ねです。",
        "twitter": "kubifuji0619",
        "hirameki_id": "kubifuji0619",
        "page_sum": 4,
        "interview": "https://note.mu/sushicream/n/nf67ae615dc78?magazine_key=m5d64866285f1"
    },
    {
        "name": "増井 理佐子",
        "title": "忍びのABC",
        "comment": "誰かの何かのきっかけになれる漫画を描いてます。",
        "twitter": "decop0n",
        "hirameki_id": "lisacomasui27",
        "page_sum": 1,
        "interview": "https://note.mu/sushicream/n/n90b348d46a0b?magazine_key=m5d64866285f1"
    },
    {
        "name": "やまだ亜麻",
        "title": "森の小さなcafeミッドサマーイブ",
        "comment": "童話的な、夢っぽい美少女を描こうと思ってできた、ロリ美少女に振り回される青年の話です。",
        "twitter": "ama_yamada",
        "hirameki_id": "amayamada",
        "page_sum": 4,
        "interview": "https://note.mu/sushicream/n/nd8a47426c515"
    },
    {
        "name": "福西 奈苗",
        "title": "悪魔の診療所より",
        "comment": "女子がグイグイ来るやつです( ´◡` )！",
        "twitter": "Ofuku0611",
        "hirameki_id": "ofuku",
        "page_sum": 4,
        "interview": "https://note.mu/sushicream/n/n9bb1ab928434?magazine_key=m5d64866285f1"
    },
    {
        "name": "市庭実和",
        "title": "水面に揺れて",
        "comment": "アジアにおける諸星大二郎先生的な世界には関心大ですが、今回はそういう作品ではないです。 最近は毎年バリ島行ってるので、異界ものにもチャレンジしてみたいですが畏れ多いな。",
        "twitter": "IchiniwaM",
        "hirameki_id": "tilapia",
        "page_sum": 4,
        "interview": "https://note.mu/sushicream/n/nb40ad98c8c94?magazine_key=m5d64866285f1"
    }
];
</script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>


  <div id="wrapper">
    <header id="header">
      <div class="for-pc"><img src="./images/bg-top.jpg" alt=""></div>
      <div class="for-sp"><img src="./images/bg-top_tate.jpg" alt=""></div>
      <div class="header-box">
        <div class="header-box-info">
          <h1><img src="./images/title_text.svg" alt="はたらく美少女アンソロジー"></h1>
        </div>
      </div>

    </header>
    <main id="contents">
      <section class="module-about">
        <div class="about-catch">
          <p>美少女も、頑張ったり、充電したり、しているのです。</p>
        </div>
        <div class="about-info">
          <div class="about-image">
            <img src="images/frontCover.jpg" alt="表紙">
          </div>
          <div class="about-text">
            <dl>
              <dt>はたらく美少女アンソロジー</dt>
              <dd><strong>500円</strong>（A5 / 144ページ）</dd>
            </dl>
            <dl>
              <dt>頒布場所</dt>
              <dd><a href="http://www.comitia.co.jp/">COMITIA126</a> <strong>う01b</strong> （<a href="http://www.bigsight.jp/access/transportation/">東京ビッグサイト東4・5・6ホール</a>）</dd>
              <dd>2018年11月25日（日）11:00～16:00</dd>
              <dd class="small">※ 一般参加の場合「ティアズマガジン」の購入が必要です。</dd>
            </dl>
            <dl>
              <dt>同時開催</dt>
              <dd><a href="https://school.genron.co.jp/manga/#post-4233">ゲンロン ひらめき☆マンガ教室特別公開授業</a></dd>
            </dl>
            <a class="share-button" href="https://twitter.com/intent/tweet?hashtags=B%E3%83%81%E3%83%BC%E3%83%A0%E3%81%AF%E3%81%84%E3%81%84%E3%81%9E&&ref_src=twsrc%5Etfw&related=hiramanteamb&text=%E3%81%AF%E3%81%9F%E3%82%89%E3%81%8F%E7%BE%8E%E5%B0%91%E5%A5%B3%E3%82%A2%E3%83%B3%E3%82%BD%E3%83%AD%E3%82%B8%E3%83%BC%20COMITIA126%20%E3%81%8601b&tw_p=tweetbutton&url=https%3A%2F%2Fhirameki-teamb.firebaseapp.com%2F">Twitterでシェアする</a>
          </div>
      </div>
      </section>

      <section class="module module-introManga">
        <h2>紹介マンガ</h2>
        <div class="intro-wrap" id="intro-wrap">
          <div class="intro-image">
            <img v-show="isLoad" v-on:load="loaded()" v-on:click="nextPage()" :src="'./images/sample/senden/page0'+series_cur+'_0'+page_cur+'.jpg'" alt="">
            <img v-show="!isLoad" src="./images/loading.png" class="loading" alt="loading">
            <ul>
              <li v-for="n in page_list[series_cur-1]" v-on:click="selectPage(n)" v-bind:class="{cur:page_cur === n}">{{ n }}</li>
            </ul>
          </div>
          <ul class="intro-series">
            <li v-for="m in page_list.length" v-on:click="selectSeries(m)" v-bind:class="{cur:series_cur === m}"># {{ m }}</li>
          </ul>
        </div>
        <p class="intro-credit">作：静脈</p>
      </section>

      

      <article id="member-list" class="member-list">
        <h2 class="member-hd">試し読み</h2>
        <section v-cloak v-for="mem in members" class="member-info">
          <div class="info-header" :id="'info-'+mem.hirameki_id">
            <h2 class="info-title">{{ mem.title }}</h2>
          </div>
          <div class="info-wrap">
            <div class="info-image">
              <img v-show="mem.isLoad" v-on:load="loaded(mem)" v-on:click="nextPage(mem)" :src="'https://hirameki-teamb.firebaseapp.com/images/sample/'+mem.hirameki_id+'/page0'+mem.page_cur+'.jpg'" alt="">
              <img v-show="!mem.isLoad" src="./images/loading.png" class="loading" alt="loading">
              <ul>
                <li v-for="n in mem.page_sum" v-on:click="selectPage(mem,n)" v-bind:class="{cur:mem.page_cur === n}">{{ n }}</li>
              </ul>
            </div>
            <div class="info-text">
              <div class="member-icon"><img :src="'./images/icon_'+ mem.hirameki_id+'.jpg'" :alt="mem.name"></div>
              <div class="member-text">
                <h3>{{ mem.name }}</h3>
                <p>{{ mem.comment }}</p>
                <p v-if="mem.twitter">Twitter <a target="_blank" :href="'https://twitter.com/'+ mem.twitter">@{{ mem.twitter }}</a></p>
                <p><a target="_blank" :href="'https://school.genron.co.jp/works/manga/2018/students/'+ mem.hirameki_id">ひらめき☆マンガ教室作品一覧</a></p>
                <p v-if="mem.interview"><a target="_blank" :href="mem.interview">作家インタビュー</a></p>
              </div>
            </div>
          </div>
        </section>

        <a class="share-button" href="https://twitter.com/intent/tweet?hashtags=B%E3%83%81%E3%83%BC%E3%83%A0%E3%81%AF%E3%81%84%E3%81%84%E3%81%9E&&ref_src=twsrc%5Etfw&related=hiramanteamb&text=%E3%81%AF%E3%81%9F%E3%82%89%E3%81%8F%E7%BE%8E%E5%B0%91%E5%A5%B3%E3%82%A2%E3%83%B3%E3%82%BD%E3%83%AD%E3%82%B8%E3%83%BC%20COMITIA126%20%E3%81%8601b&tw_p=tweetbutton&url=https%3A%2F%2Fhirameki-teamb.firebaseapp.com%2F">Twitterでシェアする</a>
      </article>

      <section class="module module-sns">
        <h2>SNSで最新情報配信中</h2>
        <p>Pixiv： <a href="https://www.pixiv.net/member.php?id=34223413">はたらく美少女アンソロジー</a></p>
        <p>Twitter：<a target="_blank" href="https://twitter.com/hiramanteamb">@hiramanteamb</a><br>
        <small>ハッシュタグ：<a target="_blank" href="https://twitter.com/hashtag/B%E3%83%81%E3%83%BC%E3%83%A0%E3%81%AF%E3%81%84%E3%81%84%E3%81%9E?src=hash">#Bチームはいいぞ</a></small></p>

        <a class="twitter-timeline" data-dnt="true" data-width="450" data-height="450" data-link-color="#E81C4F" href="https://twitter.com/hiramanteamb?ref_src=twsrc%5Etfw">Tweets by hiramanteamb</a>
      </section>



      <section class="module module-links">
        <h2>他チームの同人誌もチェック</h2>
        <p><a href="https://school.genron.co.jp/manga/" target="_blank">ゲンロン ひらめき☆マンガ教室</a>の受講生が3サークルに分かれ、それぞれが同人誌を制作しています。</p>
        <ul>
          <li>
            <a class="team-name" href="https://hirameki-a.com/" target="_blank">チームA「大人になったきみへ 小学四年生」</a>
            <div class="twitter-mod">
              <a class="twitter-timeline" data-dnt="true" data-width="300" data-height="400" data-link-color="#E81C4F" href="https://twitter.com/hiraman_A?ref_src=twsrc%5Etfw">Tweets by hiraman_A</a>
            </div>
          </li>
          <li>
            <a class="team-name" href="https://sites.google.com/view/hiraman2c/" target="_blank">チームC「空から落ちてきた」</a>
            <div class="twitter-mod">
              <a class="twitter-timeline" data-dnt="true" data-width="300" data-height="400" data-link-color="#E81C4F" href="https://twitter.com/hiraman2c?ref_src=twsrc%5Etfw">Tweets by hiraman2c</a>
            </div>
          </li> 
        </ul>
      </section>

    </main>
    <footer id="footer">
      <p>Hirameki Manga Team-B</p>
    </footer>
    </div>

<script>
  var app = new Vue({
    el: "#member-list",
    data: {
      members: memberData
    },
    created() {
      for(var i=0;i<this.members.length; i++){
        this.$set(this.members[i], 'isLoad', false);
        this.$set(this.members[i], 'page_cur', 1);
      }
    },
    methods: {
      selectPage(mem,num){
        mem.isLoad = false;
        mem.page_cur = num;
      },
      nextPage(mem) {
        if(mem.page_sum != mem.page_cur){
          mem.page_cur++;
        }
      },
      loaded(mem) {
        mem.isLoad = true;
      }
    }
  });
  var app2 = new Vue({
    el:"#intro-wrap",
    data: {
      isLoad: false,
      series_cur: 1,
      page_cur: 1,
      page_list: [4,4,4,4,4,4,4,4,4]
    },
    methods: {
      loaded(){
        this.isLoad = true;
      },
      selectPage(num){
        this.isLoad = false;
        this.page_cur = num;
      },
      nextPage(){
        if(this.page_list[this.series_cur-1] != this.page_cur){
          this.isLoad = false;
          this.page_cur++;
        }else if(this.page_list.length != this.series_cur){
          this.isLoad =false;
          this.page_cur = 1;
          this.series_cur++;
        }
      },
      selectSeries(num){
        this.isLoad = false;
        this.page_cur = 1;
        this.series_cur = num;
      }
    }
  });
</script>

<!-- Adobe fonts -->
<script>
  (function(d) {
    var config = {
      kitId: 'lav0yzt',
      scriptTimeout: 3000,
      async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
</script>
</body>
</html>
